.x-large{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom:1rem; 
}
.large{
font-size: 3rem;
line-height: 1.2;
margin-bottom: 1rem;
}

.lead{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.dark-overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
}

.heading-secundary{
    @include text-decoration;
    font-size: 3rem;
    margin-top: 8px;
    padding-top: 5rem;
    color:$primary-color;
}

.heading-tertiary{
    @include text-decoration;
    font-size: 3rem;
    color:$primary-color;
    margin-top:20px;
    scroll-padding-bottom: 5px;
}
.heading-quartiary{
    @include text-decoration;
    font-size: 3rem;
    margin-top: 8px;
    padding-top: 5rem;
    color:#F5F0DD;
    text-align: center;
    p{
        font-size: 1.5rem;
    }
}
.sombra{
    /* formatação do box */
    width:1350px;
    background:#f6f6f6;
    padding:1px;
        
    /* box shadow */
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
    }




